.app {
    overflow: hidden;
    scrollbar-width: none; /* hides scrollbar but still scrolls */
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
        display: none; /* hides scrollbar but still scrolls */
    }
}

.tabs {
    --background: transparent;
    background-color: transparent;
}

.scene-toolbar {
    --background: transparent;
    background-color: transparent;
}

.create-list {
    --background: transparent;
    background-color: transparent;
}

ion-header, ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent;
    --ion-toolbar-background: transparent;
    --border-width: 0;
    box-shadow: none !important;
  }
  